.header1 {
    background-color: #2d3e50;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #ffffff;
}

body {
    margin: 0;
}

h1 {
    margin: 0 0 0.5rem;
    line-height: 1.25;
}

a {
    padding : 1px;
}


.navbar-item{
    width:350px;
    height:auto;
}

.logo{
    width:300px;
   max-height:auto;
}

#Contributors {
    font-weight:bolder;
    font-size: 1.2rem;
}

.footerStyle > a{
    font-weight:bolder;
    display: inline-block;
    margin-left: 30px;
}




