/*{
    background-color:#F94144;
    background-color:#F3722C;
    background-color:#F8961E;
    background-color:#F9C74F;
    background-color:#90BE6D;
    background-color:#43AA8B;
    background-color: #2d3e50;
    background-color:white;
}*/
.main-background
{
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("../Images/Mainbackground.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
}

body{
    height:100vh;
}
.header1 {
    background-color: #2d3e50;
}

header{ 
    background-color:rgb(255,255,255, .7); 

}
header img{ 
   max-width:50vw;  
}

body {
    margin: 0;
}


h1 {
    margin: 0 0 0.5rem;
    line-height: 1.5rem;
}

#welcomeMessage{
    background-color:#43AA8B;
    color:white;
    font-size:1.5rem;
    text-align:center;
}
#welcomeMessage p{
    background-color:#43AA8B;
    color:white;
    font-size:1.25rem;
    line-height:2rem;
    text-align:center;
}
#invalidEntry{
    line-height:2rem;
    color: #F94144;
    margin-top:-1rem;
    margin-bottom:1rem;
    font-size:1.75rem;

}

.button.is-primary{
    background-color:#F94144;
}

.button.is-primary:hover{
    background-color:#43AA8B;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #ffffff;
}

.uselessFact{
    border-top:rgb(87,117,144) .5 1rem;
   
}
.tile.is-parent{
    padding:0;
    border-top:rgb(87,117,144) .5 1rem;
    border-radius:4px;
}

#Contributors {

    font-size: 1.2rem;
}



.footerStyle{
    padding-bottom:-3rem;
}
.footerStyle > a{
    font-weight:bolder;
    display: inline-block;
    color:#2d3e50;
    display:flex;
    display:column;
    justify-content:center;
}

a.firstChild{
    color:#F94144;
    font-size:1.5rem;
}


.tester{
    background-color:rgb(87,117,144,.4);
    border-radius:4px;
    border:rgb(87,117,144) .5 5px;
    padding:1rem;
}



