.header1 {
    background-color: #2d3e50;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #ffffff;
}

body {
    margin: 0;
}

<<<<<<< HEAD
  h1 {
  margin: 0 0 0.5rem;
  line-height: 1.25;
}
=======
h1 {
    margin: 0 0 0.5rem;
    line-height: 1.25;
}
<<<<<<< HEAD
>>>>>>> 320c9c087c397903eb15d1c0055b71acc110301d
=======

.navbar-item{
    width:350px;
    height:auto;
}

.logo{
    width:300px;
   max-height:auto;
}


>>>>>>> acf89c8cf74bb4f0dd049c7174ae6650d3d5998c
